/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Mar, 2014, 3:10:35 PM
    Author     : deepak
*/
#message_box{
    height: 200px;
    width: 215px;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    background: lightcyan;
}

#chat_container{
    float:left;
    display:none;
}
